body{
	margin: 0 auto;
	width: 50%;
}

a{
	color: wheat;
	font-weight: 900;
	font-size: 26px;
	text-decoration: none;

}

a:hover{
	border-bottom: 2px solid orange;
}

a:first-child {
	background: yellow;
}

a:first-child ~ a {
	background: red;
}


a:nth-child(4){
	background: black;
}


a:nth-child(4) ~ a {
  background: green;
}

a:last-child{
	background: blue;
}

